<div class="row">
  <form method="POST" action="/cities/<%= @city.id %>/transit_modes/<%= @transit_mode.id %>">
    <div class="input-field col s12">
      <textarea id="fare info" class="materialize-textarea"></textarea>
      <label for="textarea1">What types of fares are availible?</label>
    </div>
    <div class="input-field col s12">
      <textarea id="fare info" class="materialize-textarea"></textarea>
      <label for="textarea1">What can you obtain these fares? (teller, automated machines, etc)</label>
    </div>
    <div class="input-field col s12">
      <textarea id="fare info" class="materialize-textarea"></textarea>
      <label for="textarea1">What types of fares are availible?</label>
    </div>
    <input id="city-name" name='name' type="text" class="validate" value="<%= @failed_city_name %>">
    <label for="city-name">The name of the transit mode</label>

  </form>
</div>