<h3 class='left-align'>Add Details to Transit Modes</h3>
<ul class="collection">
  <% @city.transit_modes.each do |mode| %>
  <li class="collection-item avatar">
    <i class="medium <%= mode.icon %> circle"></i>
    <span class="title"><%= mode.name %></span>
  </li>
  <% end %>
</ul>
<form method='get' action='/cities/<%= @city.id %>/pics/new'>
  <div class='center-align'>
    </br>
    <button class="btn waves-effect waves-light" type="submit">Done with Details</button>
  </div>
</form> 
