<h3 class='left-align'>Add Details to Transit Modes</h3>
<% if @city.transit_modes.any? %>
  <div class="collection">
    <% @city.transit_modes.each do |mode| %>
      <a href="/cities/<%= @city.id %>/transit_modes/<%= mode.id %>/edit" class="collection-item"><%= mode.name %></a>
    <% end %>
  </div>
<% end %>
<form method='get' action='/cities/<%= @city.id %>/pics/new'>
  <div class='center-align'>
    </br>
    <button class="btn waves-effect waves-light" type="submit">Done with Details</button>
  </div>
</form> 
