 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.mdi-navigation-menu{
  margin-right: 15px;
  background-color: transparent;
}

.nav-wrapper-container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 95%; }