 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.mdi-navigation-menu{
  margin-right: 15px;
  background-color: transparent;
}




