 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.mdi-navigation-menu {
  margin-right: 15px;
  background-color: transparent;
}

.nav-wrapper-container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 95%; }


.alert {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-confirm {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#search-nav {
  float: right;
}

.fixed-action-btn {
  position: relative;
  display: inline-block;
}

.fixed-action-btn ul {
  text-align: center;
  position: absolute;
  bottom: auto;
  top: 75px;
}

.fixed-action-btn ul li {
  margin-bottom: 30px;
}

.t-caption {
  position: absolute;
  left: 55px;
  top: 3px;
  color: black;
}
.btn-floating {
  overflow:visible;
}

nav {
  background-image: url('../img/nav-bg_img-opaque.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFF;
}

footer.page-footer {
  background-color: #FFF;
}

nav .brand-logo {
  color: #26a69a;
  text-shadow: 17px 10px 27px rgba(150, 150, 150, 0.87);
  margin-top: 11px;
}

#register_button {
  position: relative;
  margin-top: 85px;
  margin-bottom: 0px;
  text-align: center;
}

@media only screen and (max-height : 568px) {
  .tall-screen-only {
    display: none; } }

.input-field.registration {
  height: 45px;
}

#reg-submit-button {
  margin-top: 22px;
}

footer.page-footer .footer-copyright {
  color: #000;
  font-weight: light;
}

#city-page-title {
  margin-bottom:0px;
}

#country {
  margin-top:0px;
}


