<!DOCTYPE html>

<h2> Problem Reports Page </h2>

<form method="post" action="/users/problem">
  <div class="input-field col s6">
    <i class="mdi-editor-mode-edit prefix"></i>
    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
    <label for="icon_prefix2">Found a problem with our site? Tell us about it here!</label>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

