
<h2><%= current_user.username %></h2>

<% if current_user.pic_url == nil%>

  <form method="post" action="/users/show">
    <div class="row">
      <div class="input-field">
        <label>Enter the url for your picture ^.^ </label>
        <input type="url" name="pic_url">
      </div>
    </div>
    <div class="row center-align">
       <button class="btn waves-effect waves-light" type="submit">Add Picture</button>
    </div>
  </form>

<% else %>
  <div class="col m4">
    <img src= <%= current_user.pic_url %> alt="Profile Pic" height="250" width="250"> 
  </div>

<% end %>

<h4>Email: <%= current_user.email %></h4>

<% if current_user %>
  <form method="get" action="/users/edit">
    <div class='left-align'>
      </br></br>
      <button class="btn waves-effect waves-light" type="submit">Change My Info</button>
    </div>
  </form> 
<% end %>


