<div class="parallax-container">
  <div class="parallax">
    <!-- @doc = Nokogiri::HTML(File.open(path), nil, Encoding::UTF_8.to_s) -->
    <!-- <img src="http://<%= city.name.downcase.gsub(/\s/, "") %>city.jpg.to"/> -->
  </div>
</div>