<div class="row">
  <h1> Pick a city </h1>  
</div>
<div clas="row">
  <% @cities.each do |city| %>
    <ul>
      <li>
        <a href="/cities/<%= city.id %>"><%= city.name %>, <%= city.state + ', ' if city.state %><%= city.country %></a>
      </li>
    </ul>
  <% end %>
</div>