<div class="row">
  <h1> Pick a city </h1>  
</div>
<div clas="row">
  <div class="collection">
    <% @cities.each do |city| %>
      <a href="/cities/<%= city.id %>" class="collection-item"><%= city.name %>, <%= city.state + ', ' if city.state %><%= city.country %></a>
    <% end %>
    <div>
</div>