<div class="row">
  <div class="valign-wrapper">
    <!-- <div class="col s6"> -->
      <h1 class="flex-text"><%= @city.name %></h1>
    <!-- </div> -->
    <div class="right-align">
        <a href='/' class="btn waves-effect waves-light" type="submit" name="action">Edit
          <i class="mdi-content-add right"></i>
        </a>
    </div>
  </div>
</div>


<ul class="collapsible" data-collapsible="accordion">
  <% if @city.transit_modes %>
    <% @city.transit_modes.each do |transit_mode| %>
      <li>
        <div class="collapsible-header"><i class="mdi-image-filter-drama"></i><%= transit_mode.name %></div>
        <div class="collapsible-body" style="display: none;">
          <p><strong>Fare info</strong></p>
          <p><%= transit_mode.fare %></p>
          <p><strong>Tranfer info</strong></p>
          <p><%= transit_mode.transfers %></p>
        </div>
      </li>
    <% end %>
  <% end %>
  <li>
    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Second</div>
    <div class="collapsible-body" style="display: none;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
</ul>
