<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper nav-wrapper-container">
      <a href="<%= settings.domain_name %>" class="brand-logo">T m H t B</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right">
        <li id="search-nav">
          <a id="toggle-search" href="#!">
          <i class="large mdi-action-search"></i>
          </a>
        </li>
      </ul>
      <% if current_user %>
        <form method="post" action="/logout"> 
          <ul class="right hide-on-med-and-down">
            <li>
              <div class="right hide-on-med-and-down">
                <li><a href="#">Profile</a></li>
                <li>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Sign Out</button>
                </li>
              </div>
            </li>
          </ul>
        </form>
        <form method="post" action="/logout">  
          <ul class="side-nav" id="mobile-demo">
            <li>
              <div class="right hide-on-med-and-down">
                <li><a href="#">Profile</a></li>
                <li>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Sign Out</button>
                </li>
              </div>
            </li>
          </ul>
        </form> 
      <% else %>
        <form method="post" action="/login">
          <ul class="right hide-on-med-and-down">
            <li>
              <div class="input-field">
                <input placeholder="Email" name="email" id="email" type="email" class="validate">
              </div>
            </li>
            <li>
              <div class="input-field">
                <input placeholder="Password" name="password" id="password" type="password" class="validate">
              </div>
            </li>
            <li>
              <button class="btn waves-effect waves-light" type="submit">Log In</button>
            </li>
            </ul>
        </form>
        <form method="post" action="/login">
          <ul class="side-nav" id="mobile-demo">
            <li>
              <div class="input-field">
                <input placeholder="Email" name="email" id="email" type="email" class="validate">
              </div>
            </li>
            <li>
              <div class="input-field">
                <input placeholder="Password" name="password" id="password" type="password" class="validate">
              </div>
            </li>
            <li>
              <button class="btn waves-effect waves-light" type="submit">Log In</button>
            </li>
            </ul>
        </form>
    <% end %>  
    </div>
  </nav>
</div>
<div id="search" class="row white-text grey darken-3" >
  <div class="container">
      <form method="POST" action="/search">
          <input class="form-control" type="text" placeholder="Search ..." name="city_name"></input>
          <input type="hidden"></input>
      </form>
  </div>
</div>
