
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper nav-wrapper-container">
      <a href="#!" class="brand-logo">T m H t B</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <%= erb :navbar_form_logged_in %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= erb :navbar_form_logged_in %>
      </ul>
    </div>
  </nav>
</div>

<!-- <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper nav-wrapper-container">
      <a href="#!" class="brand-logo">T m H t B</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <%= erb :navbar_form %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= erb :navbar_form %>
      </ul>
    </div>
  </nav>
</div> -->



