<ul class="right">
  <i class="mdi-navigation-menu dropdown-button btn" data-activates='dropdown1'></i>
  <div class="row" id='dropdown1' class='dropdown-content'>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="email" name="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
  </form>
</div>


<!-- 

<ul class="right">
  <i class="mdi-navigation-menu dropdown-button btn" data-activates='dropdown1'></i>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Profile</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
  </ul>
</ul> -->