<form method="post" action="/login">
  <li>
    <div class="input-field">
      <input placeholder="Email" name="email" id="email" type="email" class="validate">
    </div>
  </li>
  <li>
    <div class="input-field">
      <input placeholder="Password" name="password" id="password" type="password" class="validate">
    </div>
  </li>
  <li>
    <button class="btn waves-effect waves-light" type="submit" name="action">Log In</button>
  </li>
</form>