<ul class="right">
  <i class="mdi-navigation-menu dropdown-button btn" data-activates='dropdown1'></i>
  <ul id='dropdown1' class='dropdown-content'>
    <li> 
      <div class="input-field col s8">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Email</label>
      </div>
    </li>
    <li> 
      <div class="input-field col s8">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Password</label>
      </div>
    </li>
</ul>






<!-- <ul class="right">
  <i class="mdi-navigation-menu dropdown-button btn" data-activates='dropdown1'></i>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Profile</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
  </ul>
</ul>

<!- - <div class="row" id='dropdown1' class='dropdown-content'>
    <form class="col s12">
      <div class="row">
        <div class="input-field">
          <label for="email">Email</label>
          <input id="email" type="email" class="validate" name="email">
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="validate">
        </div>
      </div>
    </form>
  </div>
</ul> -->