
<ul class="slides">
  <% city.pics.each do |pic| %>
    <li>
      <a href="/cities/<%= city.id %>/pics/<%= pic.id %>"><img src="<%= pic.path %>" data-caption="<%= pic.title %>"></a>
    </li>
  <% end %>
</ul>
